/** COLOR PALETTE **/
:root {
  --primary: #132e74;
  --primary-dark: #0e193b;
  --primary-hover: #0f204f;
  --primary-light: #183d9b;

  --info: #ffb400;
  --warning: #f61d1d;
  --admin: rgb(0, 175, 0);
  --non-admin: rgb(200, 90, 0);

  --white: white;
  --hover: rgb(240, 240, 240);
  --gray: lightgray;
  --dark-gray: rgb(80, 80, 80);

  --outline: lightgray;

  --appBackground: white;
}

body {
  font-family: sans-serif;
  background-color: var(--appBackground);
}

/* .app-container {
  margin-top: 65px;
  margin-left: 200px;
} */

/* prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}
