/** COLOR PALETTE **/
:root {
  /* --primary: #132e74;
  --primary-dark: #0e193b;
  --primary-hover: #0f204f;
  --primary-light: #183d9b;

  --info: #ffb400;
  --warning: #f61d1d;
  --admin: rgb(0, 175, 0);
  --non-admin: rgb(200, 90, 0);

  --white: white;
  --hover: rgb(240, 240, 240);
  --gray: lightgray;
  --dark-gray: rgb(80, 80, 80);

  --outline: lightgray; */

  --pink: #ead1d0;
  --pink-dark: #d1b9b8;
}

body {
  font-family: sans-serif;
  background-color: var(--appBackground);
  overflow-x: hidden;
  background-color: var(--pink);
  margin-top: 70px;
  /* color: #cdac83; */
}

/* .app-container {
  margin-top: 65px;
  margin-left: 200px;
} */

/* prevents all the links in the app from having default underline */
a {
  text-decoration: none;
  color: inherit;
}

/* prevents all the links in the app from turning purple after visiting */
a:visited {
  color: inherit;
}

/* prevents all the inputs in the app from having that blue outline when in focus */
input:focus {
  outline: none;
}

.tangerine-regular,
.tang {
  font-family: 'Tangerine', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}

.tangerine-bold,
.tang-b {
  font-family: 'Tangerine', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 200%;
}

.gold,
.gold1 {
  text-align: center;
  font-weight: 700;
  background: url(assets/gold1.jpg) center center / cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.8));
}
.gold2 {
  text-align: center;
  font-weight: 700;
  background: url(assets/gold2.jpg) center center / cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.8));
}

.title {
  text-align: center;
  font-size: 350%;
}
