.about-container {
  position: fixed;
}
.about {
  width: 100vw;
  height: 100vh;
  background-color: var(--pink);
  display: flex;
  justify-content: center;

  p {
    position: absolute;
    font-size: 15vw;
    margin-top: 50px;
  }
}
.about__header-img {
  width: 100%;
  height: 40vh;
  background-image: url('../../assets/about-header3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -15px;
  filter: drop-shadow(0px 25px 0px white);
}

.about__txt {
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  margin-top: -520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 30px;
  }
}

@media (max-width: 840px) {
  .about {
    p {
      font-size: 110px;
      margin-top: 0px;
    }
  }
  .about__header-img {
    height: 125px;
    background-image: url('../../assets/about-header2.png');
  }
  .about__txt {
    margin-top: -80vh;
    p {
      font-size: 5vw;
      line-height: 120%;
      margin-top: 20px;
    }
  }
}
