.product-details {
  display: flex;
  flex-direction: column;
}

.product-details__image {
  width: 95%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  border-radius: 0.5rem;
  align-self: center;
}

.product-details__price {
  font-weight: bold;
  font-size: 150%;
}
.product-details__label {
  font-size: 250% !important;
}

.product-details-info {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details__item {
  margin-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}
