.product-details {
  display: flex;
  flex-direction: column;
}

.product-details__image {
  width: 95%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  border-radius: 0.5rem;
  align-self: center;
  border: white solid 4px;
}

.product-details__content {
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  padding-bottom: 20vh;
}
.product-form__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-form__description {
  height: 200px;
}

.product-details__price {
  font-weight: bold;
  font-size: 130%;
}
.product-details__label {
  font-size: 250% !important;
}

.product-details-info {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details__item {
  margin-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

.cart-btn {
  margin: 15px 50px 5px 50px;
  font-size: 120%;
}

/* /////////////// */

.cart-background {
  margin-top: -50px;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/backdrop4.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  position: fixed;
  z-index: -1;
}

/* .trash-btn {
  width: calc(30vw - 15vw);
  background-color: var(--pink-dark);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  color: white;

  margin-bottom: 10px;

  .spacer {
    width: 20%;
  }
} */

.trash-btn:hover {
  cursor: pointer;
  color: black;
  img {
    filter: invert(0%);
  }
}

.trash-btn__img {
  width: 20%;
  object-fit: contain;
  filter: grayscale(100%) invert(100%);
}

@media (max-width: 640px) {
  .trash-btn {
    width: calc(50vw - 10vw);
  }
}

.cart__txt {
  /* width: 200px; */
  margin: 20px auto 20px auto;
  background-color: white;
  padding: 10px 10px 150px 10px;
  max-width: 500px;
}
.cart__txt > * {
  display: flex;
  justify-content: space-between;
}

.order-total {
  margin-top: 10px;
}

.checkout-btn {
  background-color: var(--pink);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 160%;
  max-width: 300px;
  margin-bottom: 50px;
  margin-top: -100px;
  transition: background-color 0.2s ease;

  .spacer {
    width: 20%;
  }
}
.checkout-btn:hover {
  background-color: #d0b9b8;
  cursor: pointer;
}

.checkout-img {
  width: 20%;
}

.checkout-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.place-order-btn {
  /* !!! */
  font-size: 90%;
  margin-top: 100px;
}

.edit-product-btn {
  margin: 20px 10px 20vh 10px;
  background-color: var(--pink);
  padding: 15px;
  border-radius: 8px;
  border: white solid 3px;
}

@media (min-width: 700px) {
  .product-details {
    flex-direction: row;
  }

  .product-details__image {
    width: 40%;
    margin: 0px 20px;
    border: solid 10px white;
    border-radius: 20px;
  }

  .product-details__content {
    margin-right: 20px;
  }

  .product-details__label {
    font-size: 450% !important;
    margin-top: 30px;
  }
}
