.product-details {
  display: flex;
  flex-direction: column;
}

.product-details__image {
  width: 95%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  border-radius: 0.5rem;
  align-self: center;
}

.product-details__price {
  font-weight: bold;
  font-size: 130%;
}
.product-details__label {
  font-size: 250% !important;
}

.product-details-info {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details__item {
  margin-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

.cart-btn {
  margin: 15px 50px 5px 50px;
  font-size: 120%;
}

.trash-btn {
  width: calc(30vw - 15vw);
  background-color: var(--pink-dark);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  color: white;

  margin-bottom: 10px;

  .spacer {
    width: 20%;
  }
}

.trash-btn:hover {
  cursor: pointer;
  color: black;
  img {
    filter: invert(0%);
  }
}

.trash-btn__img {
  width: 20%;
  object-fit: contain;
  filter: grayscale(100%) invert(100%);
}

@media (max-width: 640px) {
  .trash-btn {
    width: calc(50vw - 10vw);
  }
}

.cart__txt {
  /* width: 200px; */
  margin: 80px 30vw 20px 30vw;
}
.cart__txt > * {
  display: flex;
  justify-content: space-between;
}

.order-total {
  margin-top: 10px;
}

.checkout-btn {
  background-color: var(--pink-dark);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 160%;
  max-width: 300px;

  .spacer {
    width: 20%;
  }
}
.checkout-btn:hover {
  cursor: pointer;
}

.checkout-img {
  width: 20%;
}

.checkout-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
